.btn-red {
    background-color: #FF6464;
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: .2rem;
    transition: background-color .40s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-red:hover {
    background-color: #000;

}

.swal2-popup {
    font-size: 1.6rem;
    width: auto !important;
    max-width: 600px;
    margin: 0 1rem;
}