nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.6rem;
}

nav ul {
    display: flex;
    margin-right: 9.5rem;
    gap: 5rem;

}

nav ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    transition: color .40s ease-in-out;
}

.nav-link:hover {
    color: #FF6464;
}